@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: " Ubuntu", sans-serif;
    scroll-behavior: smooth;
}

#logo-slider .slick-track {
    display: flex;
    gap: 56px;
    align-items: center;
}

.team-slider .slick-arrow.slick-hidden {
    display: block !important;
}

.slick-dots {
    display: none !important;
}

.accordion-header-why-choose {
    display: flex;
    align-items: center;
    user-select: none;
}

.accordion-item-why-choose {
    display: grid;
    grid-template-rows: auto 0fr;
    transition: grid-template-rows 0.3s linear;
    overflow: hidden;
}

.accordion-content-wrapper {
    overflow: hidden;
}

.accordion-item-why-choose.active .icon-why-choose {
    box-shadow: 0px 4px 31.4px 0px #5793E9;
    background:
        linear-gradient(180deg, #5E65D4 -9.38%, #5692E8 55.41%);
}

.accordion-item-why-choose.active {
    border: 1px solid #A68272;
    border-radius: 16px;
    background: white;
    height: 101px;
    grid-template-rows: auto 1fr;
}

.accordion-item-why-choose.active .icon-why-choose svg path {
    fill: white;
}

.accordion-item-why-choose.active .accordion-header-why-choose {
    padding: 13px 13px 0px 13px !important;
    align-items: flex-start;
}

.accordion-item-why-choose.active .accordion-title {
    font-size: 24px;
    opacity: 100%;
}

.accordion-item-why-choose.active .accordion-content {
    margin-top: -13px;
}

@media (min-width:576px) {
    .team-slider .slick-track {
        height: 546px;
    }

    .accordion-item-why-choose.active .accordion-header-why-choose {
        padding: 26px 33px 0px 26px !important;
        align-items: flex-start;
    }
}

@media (min-width:768px) {
    .accordion-item-why-choose.active {
        height: 195px;
    }

    .accordion-item-why-choose.active .icon-why-choose {
        margin-right: 35px;
    }

    .accordion-item-why-choose.active .accordion-content {
        margin-top: -20px;
    }
}

@media (max-width:576px) {
    .accordion-item-why-choose.active .accordion-title {
        font-size: 16px;
    }
}